language: node_js

node_js:
  - "0.12"
  - "4"
  - "5"

cache:
  directories:
    - node_modules

before_script:
  - psql -c 'create database redis_cache_sequelize_test;' -U postgres

env:
  - DB_PASS=postgres
  - DIALECT=postgres
  
  
addons:
  postgresql: '9.4'
  
services:
  - redis-server
  - postgresql